<div class="headerContainer">
  <div class="siteName">my:chats</div>
  <span class="buttonRow">
    <button
      mat-button
      routerLink="/home"
      routerLinkActive="active-link"
      class="nav-mat-button"
    >
      <span class="mat-button-wrapper">home</span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
    <button
      mat-button
      routerLink="/chat"
      routerLinkActive="active-link"
      class="nav-mat-button"
    >
      <span class="mat-button-wrapper">my:chats</span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
    <button
      mat-button
      routerLink="/about"
      routerLinkActive="active-link"
      class="nav-mat-button"
    >
      <span class="mat-button-wrapper">about</span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
  </span>
</div>
